// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	margin: 0 auto;
	background: #dedede;
	width:700px;
	}

	h1{
		font-size: 50px;
	}